In [13]:
import numpy as np
import pandas as pd
from IPython.display import display

In [8]:
mirror_url = 'https://sb.minibomba.pro/mirror/'
mirror_files = ['categoryVotes.csv',
                'lockCategories.csv',
                'ratings.csv',
                'sponsorTimes.csv',
                'thumbnailTimestamps.csv',
                'thumbnailVotes.csv',
                'thumbnails.csv',
                'titleVotes.csv',
                'titles.csv',
                'unlistedVideos.csv',
                'userNames.csv',
                'videoInfo.csv',
                'vipUsers.csv',
                'warnings.csv'
               ]
data_folder = '../data/'

download = False # Caution sponsorTimes.csv is 4GB
if download:
    for name in mirror_files:
        df = pd.read_csv(mirror_url+name)
        df.to_csv(data_folder+name)

In [14]:
#name = mirror_files[0]
for name in mirror_files:
    print(name)
    df = pd.read_csv(data_folder+name, usecols=lambda col: col != "Unnamed: 0" and col != "id")
    display(df.head())

categoryVotes.csv

                                                UUID     category  votes
0  d8859d7c1ff78d99a1d90aee0b78a603d816f103c99ee5...    selfpromo    500
1  0b6c425b23aa5f523cbe8fed3bd9be5169ff926bd371a2...    selfpromo   1500
2  e5d1c1f876c9b9c9b0d99bc8b3e360a50609cde2cebaa8...    selfpromo    500
3  ad1e0087b93bf2f039abada88811cbd58e38976c13c168...  interaction    500
4  a59e62d876b0f5f8021ab003941be41129c0f4fbe462f8...    selfpromo    500

lockCategories.csv

,videoID,userID,actionType,category,hashedVideoID,reason,service
0,PkQcl9r1VqE,7a7e6f513cd2a7a9abfd5c3dec7c8e2ea0e5e26f2683a8...,skip,sponsor,124c98b6f0f07890fea471c6c66628512c6583820f27f1...,Big eye rons is a joke,YouTube
1,p5GAJOSEGPQ,b5291a34aacfc156448faa33a0d6e3679d71ac7b2386e2...,skip,intro,ef52c0b506181da4a67d9674ad71a197c0d434267df7f1...,NaN,YouTube
2,p5GAJOSEGPQ,b5291a34aacfc156448faa33a0d6e3679d71ac7b2386e2...,skip,sponsor,ef52c0b506181da4a67d9674ad71a197c0d434267df7f1...,NaN,YouTube
3,p5GAJOSEGPQ,b5291a34aacfc156448faa33a0d6e3679d71ac7b2386e2...,skip,outro,ef52c0b506181da4a67d9674ad71a197c0d434267df7f1...,NaN,YouTube
4,_YgZjhBD31Q,9897d3bc649a61a92e2cb47ba985d0bca90c9941ad8b24...,skip,sponsor,8ea9316b010355424007dd9cd912a4fe0cd39fef03b1dc...,NaN,YouTube

ratings.csv

,videoID,service,type,count,hashedVideoID
0,S_7lIORKPQM,YouTube,1,1,7d10799269f0aa17e5bf2b2073c5e41b8460a5a8baa1aa...
1,jNQXAC9IVRw,YouTube,1,1,67454704342df24de2d91fae262fc75b3c9735d45135a6...
2,QfFiAwzokSw,YouTube,1,1,00bc6324c98cadee10844db68e3d12f1208097a40e87a8...
3,p1mYz1X_CE0,YouTube,1,1,04bd15fded273eab773fb5e5d9cc5e7e014987a1f4c440...
4,ETEg-SB01QY,YouTube,1,1,8f9357fe97fed4655a858d95ede40cbd0c4a34b715a37e...

sponsorTimes.csv

C:\Users\TMOko\AppData\Local\Temp\ipykernel_9872\2765457338.py:4: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_folder+name, usecols=lambda col: col != "Unnamed: 0" and col != "id")

,videoID,startTime,endTime,votes,locked,incorrectVotes,UUID,userID,timeSubmitted,views,category,actionType,service,videoDuration,hidden,reputation,shadowHidden,hashedVideoID,userAgent,description
0,uqKGREZs6-w,475.52167,532.208740,302,0,1,622f9270-a2a1-11e9-b210-99c885575bb9,38e7c2af-09f4-4492-bf49-75e443962ccd,1564088876715,18060,sponsor,skip,YouTube,0.0,1,0.0,0,70f8d0e75affa202ab510bd86828080af1dddf9218be46...,NaN,NaN
1,1rb3bMvDdX4,588.94100,631.897770,159,0,1,28aff450-a372-11e9-b256-cb886cabe693,38e7c2af-09f4-4492-bf49-75e443962ccd,1564088876715,4430,sponsor,skip,YouTube,0.0,0,0.0,0,95e409452186a56331b7a58d518361285e18b8db50de20...,NaN,NaN
2,1rb3bMvDdX4,0.00000,6.861597,350,0,1,28ab1250-a372-11e9-b256-cb886cabe693,38e7c2af-09f4-4492-bf49-75e443962ccd,1564088876715,11773,sponsor,skip,YouTube,0.0,0,0.0,0,95e409452186a56331b7a58d518361285e18b8db50de20...,NaN,NaN
3,FfgT6zx4k3Q,446.51013,513.392330,225,0,1,96150fa0-a28a-11e9-b210-99c885575bb9,38e7c2af-09f4-4492-bf49-75e443962ccd,1564088876715,3222,sponsor,skip,YouTube,0.0,1,0.0,0,0bfebefdc667735b19d5f2630e7e83a5f7fdddb880534e...,NaN,NaN
4,UjtOGPJ0URM,497.14310,569.153300,-2,0,1,b3237a80-a2c3-11e9-b210-99c885575bb9,38e7c2af-09f4-4492-bf49-75e443962ccd,1564088876715,24217,sponsor,skip,YouTube,0.0,0,0.0,0,03224876b002487796379942f199bc22ffac46157ad248...,NaN,NaN

thumbnailTimestamps.csv

                                   UUID  timestamp
0  9b3c803a-a93e-4412-8a09-df6ad4eb2b2d   0.000000
1  fa15e21d-1f64-4fc9-bc4e-04d33e3c0ec5  57.311633
2  a73ad7b5-9f08-4460-943a-29a97a000e65  50.027653
3  61087397-dfb2-4ea4-a9bf-56644ab0468d  49.974260
4  2a7e7291-14ba-4114-8e82-cdb9b673ea99  47.735311

thumbnailVotes.csv

,UUID,votes,locked,shadowHidden,downvotes,removed
0,c138fa07-23c3-4e9c-b66f-d309b54ee385,0,0,0,0,0
1,ca896490-4cfe-4fa5-82dd-836d53831fa7,1,0,0,0,0
2,dd420764-2fdd-49ad-9387-279e986d1f87,0,0,0,0,0
3,a27e02c7-c987-4f30-a0e8-f6e05c127666,-1,0,0,0,0
4,f143ebf3-8b9e-42a5-8e2a-925fe6a1f7bd,0,0,0,0,0

thumbnails.csv

,videoID,original,userID,service,hashedVideoID,timeSubmitted,UUID
0,U0wTDK0VOeY,0,1ff2cdd11ed952d0c13d678413113860ff279a3d90d31c...,YouTube,93646c719490256e8cb43cfaa41e39534525389b0b28f5...,1680044079895,9b3c803a-a93e-4412-8a09-df6ad4eb2b2d
1,kdz6FeQLuHQ,0,7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...,YouTube,1dbe829d42168bdea3da01c29015072a3d79863c4b6aeb...,1680047863899,fa15e21d-1f64-4fc9-bc4e-04d33e3c0ec5
2,jN7mSXMruEo,0,7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...,YouTube,b4ecd2e771e2e39068938450ee22decbf77b35fae52f2a...,1680047982458,a73ad7b5-9f08-4460-943a-29a97a000e65
3,jN7mSXMruEo,0,7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...,YouTube,b4ecd2e771e2e39068938450ee22decbf77b35fae52f2a...,1680048204554,61087397-dfb2-4ea4-a9bf-56644ab0468d
4,y6F6MolfV4Y,0,7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...,YouTube,2220d4d60dcecd13e0afc07fc67cc29e27e8ed6790c9b5...,1680053148721,2a7e7291-14ba-4114-8e82-cdb9b673ea99

titleVotes.csv

,UUID,votes,locked,shadowHidden,verification,downvotes,removed
0,69033471-8749-4bf1-9633-76fe34b0171e,0,0,0,0,0,0
1,c10af58e-8cfb-410f-a244-6288fc1b0aa8,0,1,0,0,0,0
2,79e7b51d-c6ad-4c0e-8fcd-6a516b8d530f,0,0,0,-1,0,0
3,39b12914-f407-47b7-98e1-5280a7bc7b31,0,0,1,0,0,0
4,84625823-1880-4737-860e-2d315ee79745,0,0,0,0,0,0

titles.csv

,videoID,title,original,userID,service,hashedVideoID,timeSubmitted,UUID
0,U0wTDK0VOeY,History of Antarctica's Flag,0,1ff2cdd11ed952d0c13d678413113860ff279a3d90d31c...,YouTube,93646c719490256e8cb43cfaa41e39534525389b0b28f5...,1680044079895,07f32a99-3e2d-48a3-a247-b2b03f7cd4bc
1,kdz6FeQLuHQ,Bad urbanism in the Bahamas,0,7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...,YouTube,1dbe829d42168bdea3da01c29015072a3d79863c4b6aeb...,1680047863899,2803aa64-0759-4a28-8bf8-52499c9102ad
2,jN7mSXMruEo,"The Problems With Trucks and SUVs in Cities, a...",0,7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...,YouTube,b4ecd2e771e2e39068938450ee22decbf77b35fae52f2a...,1680047982458,96e6b40c-c858-4d80-af30-ce5e0584f40c
3,y6F6MolfV4Y,Original Title,1,7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...,YouTube,2220d4d60dcecd13e0afc07fc67cc29e27e8ed6790c9b5...,1680053148721,b24401f5-e05b-42a2-a934-c27bd97d0690
4,y6F6MolfV4Y,YouTube Studio / Office Tour (early 2023),0,7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...,YouTube,2220d4d60dcecd13e0afc07fc67cc29e27e8ed6790c9b5...,1680053177069,41358c60-8006-41c0-8cde-c11a2e222fe4

unlistedVideos.csv

,videoID,year,views,channelID,timeSubmitted,service
0,6eZcV1UuUzI,2006,1840916,UCOKENPzhLF5PjWhobSiMQ-g,1624515815663,YouTube
1,IN1n27DRxLQ,2012,522958,UCty6D9Ph8JXS3gUPZ4OlGLg,1624520108951,YouTube
2,onkLFOKyhXQ,2013,104570,UCT6svdPbag717cINN4yQMiQ,1624520658507,YouTube
3,K5sANHYp_IQ,2008,782093,UC0JrECyClcghpJSjUHsDCqw,1624521325037,YouTube
4,32Moj0AQqB8,2014,30637,UCRDXVJIGaGQHzQwptbF98dg,1624525475139,YouTube

userNames.csv

,userID,userName,locked
0,6da67183d9b987cffe30dd44cfa53a4fb26bf22067c5c9...,RHG,0
1,950f2c3202ff0835ac683a1e97632d71257eeb5a9cc9c7...,Scuddzero,0
2,c4a6408834ac21d6bd8eca3cee787a1b1c3009ffacb1d4...,Geroyuni,0
3,01c70fbb8cebe46f5ca2b81e0c1fe8d490709d86e2624e...,Anonymous SponsorBlock Users,0
4,d45b223dd02b0c6c0019a3d7aa5675245375095fa42345...,Cool People,0

videoInfo.csv

,videoID,channelID,title,published
0,QyTRvbb3gkk,UCr7tNSNf7_aEEh5P-F5mE4A,Kronii Got Friendzoned by Chat but She End Up ...,1.634429e+09
1,qU1Yv58EXcc,UCo_IB5145EVNcf8hw1Kku7w,Game Theory: Minecraft's DARKEST Timeline! (He...,1.634429e+09
2,yKkVHBh9DQk,UCXJkLU1wZVqZjjVe1MuRj-A,TRIPLE RECORD EN GLOBILLOS? ðŸŽˆ,1.633565e+09
3,7wCZSBOX7eM,UCg83RGdRpwfvoFEuE2zWKZA,Johnny vs. Nickelodeon All-Star Brawl (Sponsored),1.633392e+09
4,VVGjjaWWeRA,UCKBYXp4Xn2I2tL1UL4fpbhw,WOTB | NEW BIG HITTING JAGTIGER PREMIUM!,1.634429e+09

vipUsers.csv

                                              userID
0  57ddecc5b36813ddb8ea1eba73342c8a783527b884b6eb...
1  c4a6408834ac21d6bd8eca3cee787a1b1c3009ffacb1d4...
2  d261c35ce21b0554c183fc42e2f92bf30609e0540bad8e...
3  963cdc21439055c825860792fa6ef0a48ffc8823f20f31...
4  7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...

warnings.csv

,userID,issueTime,issuerUserID,enabled,reason,type
0,f285552fa2320f86b7125b089f9802859447afbed514c0...,1611509282008,f285552fa2320f86b7125b089f9802859447afbed514c0...,0,NaN,0
1,7a09418ae9accb7946c95feb957d9d7066caa56168c2cd...,1612109198435,d3c5d3dc8bb01c565f5bef193e39799a36b90dd3f0d367...,0,NaN,0
2,0658dcc353c6a1f976e5c7c049b05c140774665f9e8ed1...,1614519332220,f285552fa2320f86b7125b089f9802859447afbed514c0...,1,NaN,0
3,7fbc10568303c09495f6f145c78d53c015e49dbbd51c60...,1614785634324,b1a5175b47bcde123c7ddfb73b63d36e5db475f64d05f0...,0,NaN,0
4,a75a3453d655f6f578a466d2dca76513fe3e1dc63f8794...,1614887886974,d3c5d3dc8bb01c565f5bef193e39799a36b90dd3f0d367...,0,NaN,0