In [1]:
import numpy as np
import pandas as pd
from IPython.display import display
from constants import *

In [2]:
#manually specify dtype for columns for import
sparse_string_dtype = pd.SparseDtype("string")
sparse_int_dtype = pd.SparseDtype("int")
sparse_float_dtype = pd.SparseDtype("float")
sparse_bool_dtype = pd.SparseDtype("bool")

dtypes = {
    'category': 'category',
    'actionType': 'category',
    'service': 'category',
    'reason': 'string',
    'videoID': 'string',
    'userID': 'string',
    'votes': 'int',
    'startTime': 'float',
    'endTime': 'float',
    'locked': 'boolean',
    'incorrectVotes': 'int',
    'timeSubmitted': 'int',
    'view': 'int',
    'videoDuraction': 'float',
    'hidden': 'int',
    'reputation': 'float',
    'shadowHidden': 'boolean',
    'userAgent': 'string',
    'description': 'string',
    'remove': 'int'
}
# dtypes_sparse = {
#     'reason': sparse_string_dtype,
#     'description': sparse_string_dtype,
#     'hidden': sparse_int_dtype,
#     'votes': sparse_int_dtype,
#     'locked': sparse_int_dtype,
#     'int': sparse_int_dtype,
#     'reputation': sparse_float_dtype,
#     'shadowHidden': sparse_float_dtype,
# }

In [3]:
dfs = {}
for name in mirror_files:
    print(name)
    df = pd.read_csv(data_folder+name, dtype=dtypes,usecols=lambda col: col not in unwanted_cols)
    # for col in dtypes_sparse:
    #      if col in df.columns:
    #          df[col] = df[col].astype(pd.SparseDtype("string"))
    dfs[name.rstrip('.csv')] = df
    display(df.head())

categoryVotes.csv

                                                UUID     category  votes
0  d8859d7c1ff78d99a1d90aee0b78a603d816f103c99ee5...    selfpromo    500
1  0b6c425b23aa5f523cbe8fed3bd9be5169ff926bd371a2...    selfpromo   1500
2  e5d1c1f876c9b9c9b0d99bc8b3e360a50609cde2cebaa8...    selfpromo    500
3  ad1e0087b93bf2f039abada88811cbd58e38976c13c168...  interaction    500
4  a59e62d876b0f5f8021ab003941be41129c0f4fbe462f8...    selfpromo    500

lockCategories.csv

,videoID,userID,actionType,category,reason,service
0,PkQcl9r1VqE,7a7e6f513cd2a7a9abfd5c3dec7c8e2ea0e5e26f2683a8...,skip,sponsor,Big eye rons is a joke,YouTube
1,p5GAJOSEGPQ,b5291a34aacfc156448faa33a0d6e3679d71ac7b2386e2...,skip,intro,<NA>,YouTube
2,p5GAJOSEGPQ,b5291a34aacfc156448faa33a0d6e3679d71ac7b2386e2...,skip,sponsor,<NA>,YouTube
3,p5GAJOSEGPQ,b5291a34aacfc156448faa33a0d6e3679d71ac7b2386e2...,skip,outro,<NA>,YouTube
4,_YgZjhBD31Q,9897d3bc649a61a92e2cb47ba985d0bca90c9941ad8b24...,skip,sponsor,<NA>,YouTube

ratings.csv

       videoID  service  type  count
0  S_7lIORKPQM  YouTube     1      1
1  jNQXAC9IVRw  YouTube     1      1
2  QfFiAwzokSw  YouTube     1      1
3  p1mYz1X_CE0  YouTube     1      1
4  ETEg-SB01QY  YouTube     1      1

sponsorTimes.csv

,videoID,startTime,endTime,votes,locked,incorrectVotes,UUID,userID,timeSubmitted,views,category,actionType,service,videoDuration,hidden,reputation,shadowHidden,userAgent,description
0,uqKGREZs6-w,475.52167,532.208740,302,False,1,622f9270-a2a1-11e9-b210-99c885575bb9,38e7c2af-09f4-4492-bf49-75e443962ccd,720780971,18060,sponsor,skip,YouTube,0.0,1,0.0,False,<NA>,<NA>
1,1rb3bMvDdX4,588.94100,631.897770,159,False,1,28aff450-a372-11e9-b256-cb886cabe693,38e7c2af-09f4-4492-bf49-75e443962ccd,720780971,4430,sponsor,skip,YouTube,0.0,0,0.0,False,<NA>,<NA>
2,1rb3bMvDdX4,0.00000,6.861597,350,False,1,28ab1250-a372-11e9-b256-cb886cabe693,38e7c2af-09f4-4492-bf49-75e443962ccd,720780971,11773,sponsor,skip,YouTube,0.0,0,0.0,False,<NA>,<NA>
3,FfgT6zx4k3Q,446.51013,513.392330,225,False,1,96150fa0-a28a-11e9-b210-99c885575bb9,38e7c2af-09f4-4492-bf49-75e443962ccd,720780971,3222,sponsor,skip,YouTube,0.0,1,0.0,False,<NA>,<NA>
4,UjtOGPJ0URM,497.14310,569.153300,-2,False,1,b3237a80-a2c3-11e9-b210-99c885575bb9,38e7c2af-09f4-4492-bf49-75e443962ccd,720780971,24217,sponsor,skip,YouTube,0.0,0,0.0,False,<NA>,<NA>

thumbnailTimestamps.csv

                                   UUID  timestamp
0  9b3c803a-a93e-4412-8a09-df6ad4eb2b2d   0.000000
1  fa15e21d-1f64-4fc9-bc4e-04d33e3c0ec5  57.311633
2  a73ad7b5-9f08-4460-943a-29a97a000e65  50.027653
3  61087397-dfb2-4ea4-a9bf-56644ab0468d  49.974260
4  2a7e7291-14ba-4114-8e82-cdb9b673ea99  47.735311

thumbnailVotes.csv

,UUID,votes,locked,shadowHidden,downvotes,removed
0,c138fa07-23c3-4e9c-b66f-d309b54ee385,0,False,False,0,0
1,ca896490-4cfe-4fa5-82dd-836d53831fa7,1,False,False,0,0
2,dd420764-2fdd-49ad-9387-279e986d1f87,0,False,False,0,0
3,a27e02c7-c987-4f30-a0e8-f6e05c127666,-1,False,False,0,0
4,f143ebf3-8b9e-42a5-8e2a-925fe6a1f7bd,0,False,False,0,0

thumbnails.csv

,videoID,original,userID,service,timeSubmitted,UUID
0,U0wTDK0VOeY,0,1ff2cdd11ed952d0c13d678413113860ff279a3d90d31c...,YouTube,711867159,9b3c803a-a93e-4412-8a09-df6ad4eb2b2d
1,kdz6FeQLuHQ,0,7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...,YouTube,715651163,fa15e21d-1f64-4fc9-bc4e-04d33e3c0ec5
2,jN7mSXMruEo,0,7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...,YouTube,715769722,a73ad7b5-9f08-4460-943a-29a97a000e65
3,jN7mSXMruEo,0,7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...,YouTube,715991818,61087397-dfb2-4ea4-a9bf-56644ab0468d
4,y6F6MolfV4Y,0,7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...,YouTube,720935985,2a7e7291-14ba-4114-8e82-cdb9b673ea99

titleVotes.csv

,UUID,votes,locked,shadowHidden,verification,downvotes,removed
0,69033471-8749-4bf1-9633-76fe34b0171e,0,False,False,0,0,0
1,c10af58e-8cfb-410f-a244-6288fc1b0aa8,0,True,False,0,0,0
2,79e7b51d-c6ad-4c0e-8fcd-6a516b8d530f,0,False,False,-1,0,0
3,39b12914-f407-47b7-98e1-5280a7bc7b31,0,False,True,0,0,0
4,84625823-1880-4737-860e-2d315ee79745,0,False,False,0,0,0

titles.csv

,videoID,title,original,userID,service,timeSubmitted,UUID
0,U0wTDK0VOeY,History of Antarctica's Flag,0,1ff2cdd11ed952d0c13d678413113860ff279a3d90d31c...,YouTube,711867159,07f32a99-3e2d-48a3-a247-b2b03f7cd4bc
1,kdz6FeQLuHQ,Bad urbanism in the Bahamas,0,7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...,YouTube,715651163,2803aa64-0759-4a28-8bf8-52499c9102ad
2,jN7mSXMruEo,"The Problems With Trucks and SUVs in Cities, a...",0,7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...,YouTube,715769722,96e6b40c-c858-4d80-af30-ce5e0584f40c
3,y6F6MolfV4Y,Original Title,1,7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...,YouTube,720935985,b24401f5-e05b-42a2-a934-c27bd97d0690
4,y6F6MolfV4Y,YouTube Studio / Office Tour (early 2023),0,7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...,YouTube,720964333,41358c60-8006-41c0-8cde-c11a2e222fe4

unlistedVideos.csv

,videoID,year,views,channelID,timeSubmitted,service
0,6eZcV1UuUzI,2006,1840916,UCOKENPzhLF5PjWhobSiMQ-g,1018177775,YouTube
1,IN1n27DRxLQ,2012,522958,UCty6D9Ph8JXS3gUPZ4OlGLg,1022471063,YouTube
2,onkLFOKyhXQ,2013,104570,UCT6svdPbag717cINN4yQMiQ,1023020619,YouTube
3,K5sANHYp_IQ,2008,782093,UC0JrECyClcghpJSjUHsDCqw,1023687149,YouTube
4,32Moj0AQqB8,2014,30637,UCRDXVJIGaGQHzQwptbF98dg,1027837251,YouTube

userNames.csv

,userID,userName,locked
0,6da67183d9b987cffe30dd44cfa53a4fb26bf22067c5c9...,RHG,False
1,950f2c3202ff0835ac683a1e97632d71257eeb5a9cc9c7...,Scuddzero,False
2,c4a6408834ac21d6bd8eca3cee787a1b1c3009ffacb1d4...,Geroyuni,False
3,01c70fbb8cebe46f5ca2b81e0c1fe8d490709d86e2624e...,Anonymous SponsorBlock Users,False
4,d45b223dd02b0c6c0019a3d7aa5675245375095fa42345...,Cool People,False

videoInfo.csv

,videoID,channelID,title,published
0,QyTRvbb3gkk,UCr7tNSNf7_aEEh5P-F5mE4A,Kronii Got Friendzoned by Chat but She End Up ...,1.634429e+09
1,qU1Yv58EXcc,UCo_IB5145EVNcf8hw1Kku7w,Game Theory: Minecraft's DARKEST Timeline! (He...,1.634429e+09
2,yKkVHBh9DQk,UCXJkLU1wZVqZjjVe1MuRj-A,TRIPLE RECORD EN GLOBILLOS? 🎈,1.633565e+09
3,7wCZSBOX7eM,UCg83RGdRpwfvoFEuE2zWKZA,Johnny vs. Nickelodeon All-Star Brawl (Sponsored),1.633392e+09
4,VVGjjaWWeRA,UCKBYXp4Xn2I2tL1UL4fpbhw,WOTB | NEW BIG HITTING JAGTIGER PREMIUM!,1.634429e+09

vipUsers.csv

                                              userID
0  57ddecc5b36813ddb8ea1eba73342c8a783527b884b6eb...
1  c4a6408834ac21d6bd8eca3cee787a1b1c3009ffacb1d4...
2  d261c35ce21b0554c183fc42e2f92bf30609e0540bad8e...
3  963cdc21439055c825860792fa6ef0a48ffc8823f20f31...
4  7b89ea26f77bda8176e655eee86029f28c1e6514b6d6e3...

warnings.csv

,userID,issueTime,issuerUserID,enabled,reason,type
0,f285552fa2320f86b7125b089f9802859447afbed514c0...,1611509282008,f285552fa2320f86b7125b089f9802859447afbed514c0...,0,<NA>,0
1,7a09418ae9accb7946c95feb957d9d7066caa56168c2cd...,1612109198435,d3c5d3dc8bb01c565f5bef193e39799a36b90dd3f0d367...,0,<NA>,0
2,0658dcc353c6a1f976e5c7c049b05c140774665f9e8ed1...,1614519332220,f285552fa2320f86b7125b089f9802859447afbed514c0...,1,<NA>,0
3,7fbc10568303c09495f6f145c78d53c015e49dbbd51c60...,1614785634324,b1a5175b47bcde123c7ddfb73b63d36e5db475f64d05f0...,0,<NA>,0
4,a75a3453d655f6f578a466d2dca76513fe3e1dc63f8794...,1614887886974,d3c5d3dc8bb01c565f5bef193e39799a36b90dd3f0d367...,0,<NA>,0

In [4]:
# investigate missing data
for df in dfs:
    print(f"{df}: length {dfs[df].shape[0]}")
    for col in dfs[df]:
        count = dfs[df][col].isna().sum()
        if count:
            print(f"\t{col}: {count}")

categoryVote: length 464360
lockCategorie: length 143299
	videoID: 20
	reason: 128532
rating: length 9848
sponsorTime: length 15073175
	videoID: 54
	reputation: 58
	userAgent: 3140631
	description: 14895089
thumbnailTimestamp: length 102994
thumbnailVote: length 126046
thumbnail: length 126051
titleVote: length 289402
title: length 289472
unlistedVideo: length 121403
userName: length 381207
	userName: 6640
videoInfo: length 7957893
	videoID: 1
	channelID: 601121
	title: 499447
vipUser: length 114
warning: length 2324
	reason: 174

In [5]:
for df in dfs:
    length = dfs[df].shape[0]
    print(f"{df}: length {length}")
    for col in dfs[df]:
        series = dfs[df][col]
        if pd.api.types.is_numeric_dtype(series) or pd.api.types.is_bool_dtype(series) or series.dtype == sparse_float_dtype or series.dtype == sparse_int_dtype:
            count = (series == 0).sum()
            if count/length >= 0.7:
                print(f"\t{col}: {count/length}")

categoryVote: length 464360
lockCategorie: length 143299
rating: length 9848
sponsorTime: length 15073175
	votes: 0.887230460735711
	locked: 0.9722710046158158
	hidden: 0.8705878489435703
	reputation: 0.7474777543550049
	shadowHidden: 0.9460201981334391
thumbnailTimestamp: length 102994
thumbnailVote: length 126046
	votes: 0.9088031353632801
	locked: 0.9606254859337068
	shadowHidden: 0.9486933341795852
	downvotes: 0.9861875823112197
	removed: 0.9968662234422354
thumbnail: length 126051
	original: 0.8171295745372905
titleVote: length 289402
	votes: 0.7937816601129225
	locked: 0.9708536914050352
	shadowHidden: 0.9530825633547798
	verification: 0.7488683561274628
	downvotes: 0.9431310080787279
	removed: 0.9923462864803975
title: length 289472
	original: 0.9393205560468716
unlistedVideo: length 121403
	year: 0.947365386357833
	views: 0.947365386357833
userName: length 381207
	locked: 0.9999475350662501
videoInfo: length 7957893
vipUser: length 114
warning: length 2324
	type: 0.842512908777969

In [21]:
(dfs['sponsorTime']['videoDuration'] == 0)

0            True
1            True
2            True
3            True
4            True
            ...
15073170    False
15073171    False
15073172    False
15073173    False
15073174    False
Name: videoDuration, Length: 15073175, dtype: bool

In [9]:
dfs['warning']['reason'].loc[2323]

'When submitting Sponsor segments, please make sure to properly time them for seamless skipping. Your segments do not cover the segues properly, leading to sponsors playing for a few seconds before skipping to a few seconds after the sponsor has concluded.'

In [40]:
dfs['rating']

          videoID  service  type  count
0     S_7lIORKPQM  YouTube     1      1
1     jNQXAC9IVRw  YouTube     1      1
2     QfFiAwzokSw  YouTube     1      1
3     p1mYz1X_CE0  YouTube     1      1
4     ETEg-SB01QY  YouTube     1      1
...           ...      ...   ...    ...
9843  K8bM6N7PFJM  YouTube     1      2
9844  OS2MBjBxn38  YouTube     1      1
9845  PKvS29E-aoA  YouTube     1      2
9846  PKvS29E-aoA  YouTube     1      2
9847  MwHHErfX9hI  YouTube     1      2

[9848 rows x 4 columns]

In [38]:
UUID = (dfs['categoryVote']['UUID']).loc[4]
(dfs['sponsorTime']['UUID'] == UUID).sum()

1

In [46]:
dfs['categoryVote']['votes'].unique()

array([  500,  1500,     1,     2,  1000,   501,     5,     4,     3,
          43,   504,     7,     9,     6,    20,    12,     8,    37,
          13,    26,   502,    87,   514,    27,    14,    28,    10,
          83,  1001, 10000,     0,    47,   503,    15,    46,    23,
          16,   505,   520,   506,    11,    19,   510,   532,    17,
        2500,   516,   508,   518,    22,  -499, 10001, 10500,  9500,
          30,    52,    29,    -1, 10002,   499,   511,    -3,    18,
       10003, 10004,    36,    24,   509,    25,  -500,    61,    -2,
          50,    21,    51,    60, 11000,  2000, 11500,  9999,    48,
         512,    38,    58,    31,    35,   121,    32,    44])